<!DOCTYPE html>
<html>
<head>
  <title>Flickr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div class="flash">
    <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <% if message.is_a? Array
          message.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        <% else %>
        <p><%= message %></p>
        <% end %>
      </div>
    <% end -%>
  </div>
</div>
<%= yield %>

</body>
</html>
